<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- 引入已经构建好的 xacro 文件 -->
    <xacro:include filename="$(find robot_description2)/urdf/robot/common_inertia.xacro"/>
    
    <xacro:macro name="camera_xacro" params="xyz">
        <!-- 虚拟 link -->
        <link name="camera_optical_link"></link>

        <!-- 机器人的 camera 部件 -->
        <link name="camera_link">
            <!-- 部件的外观描述 -->
            <visual>
                <!-- 沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

                <!-- 几何形状 -->
                <geometry>
                    <!-- 正方体：{长：， 宽：， 高：} -->
                    <box size="0.02 0.10 0.02"/>
                </geometry>

                <!-- 材质和颜色 -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 0.5"/>
                </material>

            </visual>

            <collision>
                <!-- 沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

                <!-- 几何形状 -->
                <geometry>
                    <!-- 正方体：{长：， 宽：， 高：} -->
                    <box size="0.02 0.10 0.02"/>
                </geometry>

                <!-- 材质和颜色 -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 0.5"/>
                </material>

            </collision>

            <xacro:box_inertia m="0.1" w="0.02" h="0.10" d="0.02"/>

        </link>
    
        <!-- 机器人的关节，用于组合机器人的部件 -->
        <joint name="camera_joint" type="fixed">
            <parent link="base_link"/>
            <child link="camera_link"/>
            <!-- 将 camera 固定在 base_link 几何中心的偏移处 -->
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
        </joint>

        <!-- 机器人的关节，用于组合机器人的部件 -->
        <joint name="camera_optical_joint" type="fixed">
            <parent link="camera_link"/>
            <child link="camera_optical_link"/>
            <!-- 将 camera_optical_link 固定在 camera_link 几何中心的偏移处 -->
            <!-- 相机朝向默认前方为 z 轴，因此要进行修正，旋转 90 度 -->
            <origin xyz="0.0 0.0 0.0" rpy="${-pi/2} 0.0 ${-pi/2}"/>
        </joint>

        <!-- 给 gazebo 提供的标签【颜色...】 -->
        <gazebo reference="camera_link">
            <material>Gazebo/Black</material>
        </gazebo>

    </xacro:macro>

</robot>