<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="imu_xacro" params="xyz">
        <!-- 机器人的 IMU 部件，惯性测量传感器 -->
        <link name="imu_link">
            <!-- 部件的外观描述 -->
            <visual>
                <!-- 沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

                <!-- 几何形状 -->
                <geometry>
                    <!-- 正方体：{长：， 宽：， 高：} -->
                    <box size="0.02 0.02 0.02"/>
                </geometry>

                <!-- 材质和颜色 -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 0.5"/>
                </material>

            </visual>

        </link>
    
        <!-- 机器人的关节，用于组合机器人的部件 -->
        <joint name="imu_joint" type="fixed">
            <parent link="base_link"/>
            <child link="imu_link"/>
            <!-- 将 imu 固定在 base_link 几何中心的偏移处 -->
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
        </joint>

    </xacro:macro>

</robot>