<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- 引入已经构建好的 xacro 文件 -->
    <xacro:include filename="$(find robot_description2)/urdf/robot/common_inertia.xacro"/>
    
    <xacro:macro name="laser_xacro" params="xyz">
        <!-- 机器人的 laser 支撑杆部件 -->
        <link name="laser_cylinder_link">
            <!-- 部件的外观描述 -->
            <visual>
                <!-- 沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

                <!-- 几何形状 -->
                <geometry>
                    <cylinder radius="0.01" length="0.10"/>
                </geometry>

                <!-- 材质和颜色 -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>

            </visual>

            <collision>
                <!-- 沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

                <!-- 几何形状 -->
                <geometry>
                    <cylinder radius="0.01" length="0.10"/>
                </geometry>

                <!-- 材质和颜色 -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>

            </collision>
        </link>
    
        <!-- 雷达部件 -->
        <link name="laser_link">
            <!-- 部件的外观描述 -->
            <visual>
                <!-- 沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

                <!-- 几何形状 -->
                <geometry>
                    <cylinder radius="0.02" length="0.02"/>
                </geometry>

                <!-- 材质和颜色 -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>

            </visual>

            <collision>
                <!-- 沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

                <!-- 几何形状 -->
                <geometry>
                    <cylinder radius="0.02" length="0.02"/>
                </geometry>

                <!-- 材质和颜色 -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>

            </collision>
        </link>

        <!-- 机器人的关节，用于组合机器人的部件 -->
        <!-- 将雷达固定到支撑杆上 -->
        <joint name="laser_joint" type="fixed">
            <parent link="laser_cylinder_link"/>
            <child link="laser_link"/>
            <!-- 将 laser_link 固定在 laser_cylinder_link 几何中心的偏移处 -->
            <!-- 因为雷达支撑杆的高度为 0.10米，因此几何中心处为 0.05米 -->
            <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
        </joint>

        <!-- 机器人的关节，用于组合机器人的部件 -->
        <!-- 将雷达支撑杆固定到 base_link 上 -->
        <joint name="laser_cylinder_joint" type="fixed">
            <parent link="base_link"/>
            <child link="laser_cylinder_link"/>
            <!-- 将 laser_cylinder_link 固定在 base_link 几何中心的偏移处 -->
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
        </joint>

    </xacro:macro>

</robot>