<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gazebo_control_plugin">
        <gazebo>
            <!-- <plugin name='插件的名字' filename='插件对应使用的文件【动态链接库】【/opt/ros/humble/lib/libgazebo_ros_diff_drive.so】'> -->
            <plugin name='diff_drive' filename='libgazebo_ros_diff_drive.so'>
                <!-- 要传递给 ROS 的相关参数配置 -->
                <ros>
                    <!-- 所有话题前都加个“/”： “/cmd_vel” -->
                    <namespace>/</namespace>
                    <remapping>cmd_vel:=cmd_vel</remapping>
                    <remapping>odom:=odom</remapping>
                </ros>

                <!-- 发布消息的更新频率（单位：赫兹） -->
                <update_rate>30</update_rate>

                <!-- wheels：两轮差速模型 -->
                <left_joint>left_wheel_joint</left_joint>
                <right_joint>right_wheel_joint</right_joint>

                <!-- kinematics -->
                <!-- 轮距 -->
                <wheel_separation>0.2</wheel_separation>
                <!-- 轮子直径 -->
                <wheel_diameter>0.064</wheel_diameter>

                <!-- limits -->
                <!-- 轮子的最大扭矩 -->
                <max_wheel_torque>20</max_wheel_torque>
                <!-- 轮子的最大加速度 -->
                <max_wheel_acceleration>1.0</max_wheel_acceleration>

                <!-- output：是否发布XXX -->
                <publish_odom>true</publish_odom>
                <publish_odom_tf>true</publish_odom_tf>
                <publish_wheel_tf>true</publish_wheel_tf>

                <!-- 坐标系名字 -->
                <!-- 父坐标系 -->
                <odometry_frame>odom</odometry_frame>
                <!-- 子坐标系 -->
                <robot_base_frame>base_footprint</robot_base_frame>
            </plugin>
        </gazebo>
   </xacro:macro>
</robot>