<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- 引入已经构建好的 xacro 文件 -->
    <xacro:include filename="$(find robot_description2)/urdf/robot/common_inertia.xacro"/>
    
    <xacro:macro name="caster_xacro" params="caster_name xyz">
        <!-- 机器人的 caster 部件 -->
        <link name="${caster_name}_link">
            <!-- 部件的外观描述 -->
            <visual>
                <!-- 沿着自己几何中心的偏移和旋转量 -->
                <!-- 轮子要翻转 90 度 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

                <!-- 几何形状 -->
                <geometry>
                    <sphere radius="0.016"/>
                </geometry>

                <!-- 材质和颜色 -->
                <material name="yellow">
                    <color rgba="1.0 1.0 0.0 0.8"/>
                </material>

            </visual>
            
            <collision>
                <!-- 沿着自己几何中心的偏移和旋转量 -->
                <!-- 轮子要翻转 90 度 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

                <!-- 几何形状 -->
                <geometry>
                    <sphere radius="0.016"/>
                </geometry>

                <!-- 材质和颜色 -->
                <material name="yellow">
                    <color rgba="1.0 1.0 0.0 0.8"/>
                </material>

            </collision>

        </link>
    
        <!-- 机器人的关节，用于组合机器人的部件 -->
        <joint name="${caster_name}_joint" type="fixed">
            <parent link="base_link"/>
            <child link="${caster_name}_link"/>
            <!-- 将 caster 固定在 base_link 几何中心的偏移处 -->
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
        </joint>

    </xacro:macro>

</robot>