<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="second_robot">

<!-- 引入已经构建好的 xacro 文件 -->
<!-- filename="$(find 功能包名字)/urdf/robot/xacro文件名" -->
<!-- 基础部分 base_link -->
<xacro:include filename="$(find robot_description2)/urdf/robot/base.urdf.xacro"/>
<!-- 传感器部分 -->
<xacro:include filename="$(find robot_description2)/urdf/robot/sensor/imu.urdf.xacro"/>
<xacro:include filename="$(find robot_description2)/urdf/robot/sensor/camera.urdf.xacro"/>
<xacro:include filename="$(find robot_description2)/urdf/robot/sensor/laser.urdf.xacro"/>
<!-- 执行器部分 -->
<xacro:include filename="$(find robot_description2)/urdf/robot/actuator/wheel.urdf.xacro"/>
<xacro:include filename="$(find robot_description2)/urdf/robot/actuator/caster.urdf.xacro"/>
<!-- 插件部分 -->
<xacro:include filename="$(find robot_description2)/urdf/robot/plugins/gazebo_control_plugins.xacro"/>
<xacro:include filename="$(find robot_description2)/urdf/robot/plugins/gazebo_sensor_plugins.xacro"/>
<xacro:include filename="$(find robot_description2)/urdf/robot/plugins/robot.ros2_control.xacro"/>

<!-- 调用宏 xacro -->
<xacro:base_xacro length="0.12" radius="0.1"/>
<xacro:imu_xacro xyz="0.0 0.0 0.02"/>
<xacro:camera_xacro xyz="0.10 0.0 0.075"/>
<xacro:laser_xacro xyz="0.0 0.0 0.10"/>
<xacro:wheel_xacro wheel_name="left_wheel" xyz="0.0 0.10 -0.06"/>
<xacro:wheel_xacro wheel_name="right_wheel" xyz="0.0 -0.10 -0.06"/>
<xacro:caster_xacro caster_name="front_caster" xyz="0.08 0.0 -0.076"/>
<xacro:caster_xacro caster_name="back_caster" xyz="-0.08 0.0 -0.076"/>
<!-- 与 ros2_control 冲突：都在控制同一个硬件 -->
<!-- <xacro:gazebo_control_plugin/> -->
<xacro:gazebo_sensor_plugin/>
<xacro:robot_ros2_control/>

</robot>