<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="base_xacro" params="radius length">
        <!-- 虚拟部件【有 link、joint，但是没有实体】 -->
        <link name="base_footprint"/>

        <!-- 机器人的身体部分 -->
        <link name="base_link">
            <!-- 部件的外观描述 -->
            <visual>
                <!-- 沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

                <!-- 几何形状 -->
                <geometry>
                    <!-- 圆柱体：{半径：0.10米， 高度：0.12米} -->
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>

                <!-- 材质和颜色 -->
                <material name="white">
                    <color rgba="1.0 1.0 1.0 0.5"/>
                </material>

            </visual>

            <!-- 添加碰撞属性[可以和 visual 标签的一样，也可以不一样] -->
            <collision>
                <!-- 沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

                <!-- 几何形状 -->
                <geometry>
                    <!-- 圆柱体：{半径：0.10米， 高度：0.12米} -->
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>

                <!-- 材质和颜色 -->
                <material name="white">
                    <color rgba="1.0 1.0 1.0 0.5"/>
                </material>
            </collision>

        </link>

        <!-- 虚拟部件【有 link、joint，但是没有实体】 -->
        <joint name="base_footprint_joint" type="fixed">
            <!-- base_link 在地面上的投影 -->
            <!-- 机身的一半高度+轮子半径， “-0.001”是为了紧贴地面 -->
            <!-- length / 2 + 0.032 - 0.001 -->
            <origin xyz="0.0 0.0 ${length/2+0.032-0.001}" rpy="0.0 0.0 0.0"/>
            <parent link="base_footprint"/>
            <child link="base_link"/>
        </joint>

    </xacro:macro>

</robot>