<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="base_xacro" params="radius length">
        <!-- 机器人的身体部分 -->
        <link name="base_link">
            <!-- 部件的外观描述 -->
            <visual>
                <!-- 沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

                <!-- 几何形状 -->
                <geometry>
                    <!-- 圆柱体：{半径：0.10米， 高度：0.12米} -->
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>

                <!-- 材质和颜色 -->
                <material name="white">
                    <color rgba="1.0 1.0 1.0 0.5"/>
                </material>

            </visual>

        </link>
    </xacro:macro>

</robot>