<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="second_robot">

<xacro:include filename="$(find robot_description2)/urdf/robot/base.urdf.xacro"/>
<xacro:include filename="$(find robot_description2)/urdf/robot/sensor/imu.urdf.xacro"/>
<xacro:include filename="$(find robot_description2)/urdf/robot/sensor/camera.urdf.xacro"/>
<xacro:include filename="$(find robot_description2)/urdf/robot/sensor/laser.urdf.xacro"/>
<xacro:include filename="$(find robot_description2)/urdf/robot/actuator/wheel.urdf.xacro"/>
<xacro:include filename="$(find robot_description2)/urdf/robot/actuator/caster.urdf.xacro"/>
<xacro:include filename="$(find robot_description2)/urdf/robot/plugins/gazebo_control_plugins.xacro"/>
<xacro:include filename="$(find robot_description2)/urdf/robot/plugins/gazebo_sensor_plugins.xacro"/>
<xacro:include filename="$(find robot_description2)/urdf/robot/plugins/robot.ros2_control.xacro"/>

<xacro:base_xacro length="0.12" radius="0.1"/>
<xacro:imu_xacro xyz="0.0 0.0 0.02"/>
<xacro:camera_xacro xyz="0.10 0.0 0.075"/>
<xacro:laser_xacro xyz="0.0 0.0 0.10"/>
<xacro:wheel_xacro wheel_name="left_wheel" xyz="0.0 0.10 -0.06"/>
<xacro:wheel_xacro wheel_name="right_wheel" xyz="0.0 -0.10 -0.06"/>
<xacro:caster_xacro caster_name="front_caster" xyz="0.08 0.0 -0.076"/>
<xacro:caster_xacro caster_name="back_caster" xyz="-0.08 0.0 -0.076"/>
<xacro:gazebo_sensor_plugin/>
<xacro:robot_ros2_control/>

</robot>